@model IEnumerable<CodeCraft.Data.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>All Courses</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">
                <a asp-action="Index">Courses</a>
            </li>
            <li class="breadcrumb-item active">
                <a asp-action="Index">All</a>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    @foreach (var item in Model) {
        <div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="card">
                <img class="img-fluid" src="~/images/courses/pic1.jpg" alt="" />
                <div class="card-body">
                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    <ul class="list-group mb-3 list-group-flush">
                        <!--
                        <li class="list-group-item px-0 border-top-0 d-flex justify-content-between">
                            <span class="mb-0 text-muted">April 23</span>
                            <a href="javascript:void(0);">
                                <i class="la la-heart-o mr-1"></i><strong>230</strong>
                            </a>
                        </li>
                        -->
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span class="mb-0">Apply Before</span>
                            <strong>
                                @Html.DisplayFor(modelItem => item.ApplicationCloseDate)
                            </strong>
                        </li>
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span class="mb-0">Duration</span>
                            <strong>
                                @Html.DisplayFor(modelItem => item.FormattedDuration)
                            </strong>
                        </li>
                        <li class="list-group-item px-0 d-flex justify-content-between">
                            <span>
                                <i class="fa fa-graduation-cap text-primary mr-2"></i>Students
                            </span>
                            <strong>
                                +@Html.DisplayFor(modelItem => item.StudentCount)
                            </strong>
                        </li>
                    </ul>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">
                        Read More
                    </a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    }
</div>