@model Department

@{
    ViewData["Title"] = "Department Details";
}

<partial name="_BreadCrumbPartial" model="@(new BreadCrumbViewModel
{
    Header = ViewBag.Title,
    SectionName = "Departments",
    ActiveName = "Details"
})" />

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<partial name="_DataTablePartial" model="@(new DataTableModel {
    Title = "Courses",
    Headers = ["#", "Name", "Code"],
    Rows = Model!.Courses.Select(a => new DataTableRowModel {
        Cells = [
            new DataTableCellModel {
                Value = a.Id.ToString()
            },
            new DataTableCellModel {
                Value = a.Name,
                Controller = "Courses",
                Action = "Details",
                RouteId = a.Id.ToString()
            },
            new DataTableCellModel {
                Value = a.Code,
            }
        ],
        ItemId = a.Id.ToString()
    }).ToList(),
    MainController = "Courses",
    ViewingEnabled = true,
    EditingEnabled = true,
    DeletingEnabled = true,
})" />