@model User

@{
    ViewData["Title"] = "Edit User";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/pickadate/themes/default.css" />
    <link rel="stylesheet" href="~/lib/pickadate/themes/default.date.css" />
}

<partial name="_BreadCrumbPartial" model="@(new BreadCrumbViewModel
{
    Header = ViewBag.Title,
    SectionName = "Users",
    ActiveName = "Edit"
})" />

<div class="row">
    <div class="col-xl-12 col-xxl-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Basic Info</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UserName" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="FirstName" class="form-label"></label>
                                <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="LastName" class="form-label"></label>
                                <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="Gender" class="form-label"></label>
                                <select asp-for="Gender" class="form-control">
                                    @foreach (string gender in new List<string> { "Male", "Female" })
                                    {
                                        <option value="@gender" selected=@(Model.Gender == gender)>
                                            @gender
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="form-label"></label>
                                <input asp-for="DateOfBirth" class="datepicker form-control" value="@(Model.DateOfBirth.ToString("yyyy/MM/dd"))" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label asp-for="PhysicalAddress" class="form-label"></label>
                                <textarea asp-for="PhysicalAddress" class="form-control" rows="5">
                                    @Html.DisplayFor(model => model.PhysicalAddress)
                                </textarea>
                                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Profile Picture (TODO)
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group fallback w-100">
                                <input type="file"
                                       class="dropify"
                                       data-default-file="" />
                            </div>
                        </div>
                        -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/pickadate/picker.js"></script>
    <script src="~/lib/pickadate/picker.time.js"></script>
    <script src="~/lib/pickadate/picker.date.js"></script>

    <script src="~/js/plugins-init/pickadate-init.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
